 .help-block
{
	border-bottom: 3px solid red;
}

h2
{
	color: #F6BA05;
}

h5
{
	color: #F6BA05;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

 input.ng-invalid.ng-touched {
  border-left: 5px solid #a94442 !important; /* red */
  border-color:  #a94442 !important; /* red */
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(169,68,66,.6) !important;
}


.cuadro
{
	background: #F9F9F4;
	border-color:  #CFCECE; /* red */
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(169,68,66,.6) !important;
}


.bnt
{
	color: #5cb85c;
	font-size: 3em ;

}
.bnt:hover
{
	cursor: pointer;
}

.delete
{
	padding-top: 1px !important;
	font-size: 2em;
}

.delete:hover
{
	cursor: pointer;
}

td, th
{
	text-align: center;
}





.c1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.c1 input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #A3FAE5;
}

/* On mouse-over, add a grey background color */
.c1:hover input ~ .checkmark {
    background-color: #4BF7CD;
}

/* When the checkbox is checked, add a blue background */
.c1 input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.c1 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.c1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}